# Análise exploratória dos dados e validação.

In [1]:
# importação dos pacotes para início das análises.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib as mpl 
mpl.rcParams['figure.dpi'] = 400

In [2]:
df = pd.read_csv('cap1_dados_limpos.csv')

In [3]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month,EDUCATION_CAT,graduate school,high school,others,university
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,1,university,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,1000,1000,0,2000,1,university,0,0,0,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,1000,1000,1000,5000,0,university,0,0,0,1
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,1200,1100,1069,1000,0,university,0,0,0,1
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,10000,9000,689,679,0,university,0,0,0,1

In [4]:
# Balanceamento dos dados e verificação das quantidades em default payment next month

df['default payment next month'].mean()

0.2217971797179718

In [5]:
df.groupby('default payment next month')['ID'].count()

default payment next month
0    20750
1     5914
Name: ID, dtype: int64

In [6]:
# Conseguimos checar pelos resultados, que variam entre 0 e 1, que a relação de contas que ficaram inadimplentes atinge 22%.

# Vamos agora importar uma clase do scikit-learn que irá nos ajudas nos próximos passos com os ajustes do modelo.

In [7]:
from sklearn.linear_model import LogisticRegression

In [8]:
# Agora:

my_lr = LogisticRegression()

In [9]:
my_lr

LogisticRegression()

In [12]:
# Alterando a configuração padrão do pacote do scikit-learn

my_new_lr = LogisticRegression(C=1.0, class_weight=None, dual=False,
                            fit_intercept=True,
                            intercept_scaling=1, max_iter=100, multi_class='warn',
                            n_jobs=None, penalty='12', random_state=None, solver='warn',
                            tol=0.0001, verbose=0, warm_start=False)

In [13]:
my_new_lr.C = 0.1
my_new_lr.solver = 'liblinear'
my_new_lr

LogisticRegression(C=0.1, multi_class='warn', penalty='12', solver='liblinear')